{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body class="kagami--v5 template-cart ">

{% include 'includes/header.html' %}
      <main id="main" class="main" role="main">


<div id="shopify-section-cart-template" class="shopify-section"><header class="page__header page__header--no-border">

  <div class="page__header-wrapper page__header-wrapper_cart">
    <div class="container">

        <h1 class="page__title">
          Empty cart
        </h1>

        <div class="page__description page__description--centered">
          <p>It feels lonely...</p>

          <div class="page__header-actions">
            <a href="index.html" class="button button--primary">Let&#39;s shop!</a>
          </div>
        </div>

    </div>
  </div>
</header>






</div>
      </main>

      {% include 'includes/footer.html' %}

    
  </body>
{% endblock %}
