{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body class="kagami--v5 template-cart ">
    {% include 'includes/header.html' %}
    <main id="main" class="main" role="main">
      {% if quantity == 0 %}
        <div id="shopify-section-cart-template" class="shopify-section">
          <header class="page__header page__header--no-border">
            <div class="page__header-wrapper page__header-wrapper_cart">
              <div class="container">
                <h1>Empty cart</h1>
                <div class="page__description page__description--centered">
                  <p>It feels lonely...</p>
                  <div class="page__header-actions">
                    <a href="index.html" class="button button--primary">Let's shop!</a>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      {% else %}
        <div class='shopify-section'>
          <header class="page__header ">
            <div class="page__header-wrapper page__header-wrapper_cart">
              <div class="container">
                <h1 class="page__title">Your Shopping Bag</h1>
              </div>
            </div>
          </header>

          <form action="/cart" method="POST">
            <div class="cart--mobile">
              <ul class="cart__items">
                <li class="cart-item" data-variant-id="11281174462500" data-index="1">
                  <div class="cart-item__left">
                    <a href="/products/luxury-handmade-birthday-card-simply-beautiful?variant=11281174462500" class="cart-item__link">
                      <img class="cart-item__image" src="//www.lotusartstudio.co.uk/cdn/shop/products/131BH-6_180x.jpg?v=1645536009">
                    </a>
                  </div>
                  <div class="cart-item__right">
                    <a class="cart-item__title">Luxury Boxed Birthday Card 'Simply Beautiful'</a>
                    <span class="cart-item__subtotal" data-money-convertible="" data-currency-gbp="£18.75" data-currency-cad="$32.16" data-currency="CAD">$32.16</span>
                    <input type="text" pattern="[0-9]*" class="cart-item__quantity-input" name="quantity" value="1">
                    <a class="cart-item__remove" href="/cart/change?quantity=0&amp;line=1">Remove</a>
                    <p id="toggle_mob_1" class="cart-toggle">Show personalisation</p>
                    <div id="cart_mob_1" style="height: 0; overflow: hidden; transition: height 0.5s ease;">
                      <p>
                        <span class="p_first">Cover Message:</span>
                        <br>
                        <span class="p_last">HAPPY BIRTHDAY</span>
                      </p>
                    </div>
                  </div>
                  <script>
                    document.getElementById('toggle_mob_1').onclick = function() {
                      this.__toggle = !this.__toggle;
                      var target = document.getElementById('cart_mob_1');
                      if (this.__toggle) {
                        target.style.height = target.scrollHeight + "px";
                        this.firstChild.nodeValue = "Hide personalisation";
                      } else {
                        target.style.height = 0;
                        this.firstChild.nodeValue = "Show personalisation";
                      }
                    }
                  </script>
                </li>
              </ul>
            </div>
            <div class="cart--desktop">
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th></th>
                    <th class="cart-item__price-header">Price</th>
                    <th>Quantity</th>
                    <th>Item total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for cartitem in cart_items %}
                  <tr data-variant-id="11281174462500" data-index="1">
                    <td class="cart-item__product">
                      <a href="/products/luxury-handmade-birthday-card-simply-beautiful?variant=11281174462500" class="cart-item__link">
                        <img class="cart-item__image" src="{{cartitem.product.image}}">
                      </a>
                    </td>
                    <td class="cart-item__info table__left">
                      <p>
                        <a class="cart-item__title" href="/products/luxury-handmade-birthday-card-simply-beautiful?variant=11281174462500">{{cartitem.product}}</a>
                      </p>
                      <p class="cart-sku">
                        Product code: 131BH
                      </p>
                      <p id="cart_toggle_1" class="cart-toggle">Show personalisation</p>
                      <div id="cart_personalisation_1" style="height: 0; overflow: hidden; transition: height 0.5s ease;">
                        <p>
                          <span class="p_first">Cover Message:</span>
                          <br>
                          <span class="p_last">HAPPY BIRTHDAY</span>
                        </p>
                      </div>
                    </td>
                    <td class="cart-item__price" data-money-convertible="" data-currency-gbp="£18.75" data-currency-cad="$32.16" data-currency="CAD">{{cartitem.product.price}}</td>
                    <td class="cart-item__quantity">
                      <span>{{cartitem.quantity}}</span>
                      <div class="quantity__actions">
                        <a href="{% url 'remove_item' cartitem.product.id cartitem.id %}">
                          <svg class="icon icon-minus">
                            <use xlink:href="#icon-minus"></use>
                          </svg>
                        </a>
                        <a href="{% url 'add_cart' cartitem.product.id %}">
                          <svg class="icon icon-plus">
                            <use xlink:href="#icon-plus"></use>
                          </svg>
                        </a>
                      </div>
                    </td>
                    <td class="cart-item__subtotal" data-money-convertible="" data-currency-gbp="£18.75" data-currency-cad="$32.16" data-currency="CAD">${{grand_total}}</td>
                    <td class="cart-item__remove">
                      <a href="{% url 'remove_cart_item' cartitem.product.id  cartitem.id %}" class="icon-cross-container">
                        <svg class="icon icon-close">
                          <use xlink:href="#icon-close"></use>
                        </svg>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="inner inner-cart">
              <div class="cart__checkout">
                <div class="button-wrapper">
                  <a href='{% url "checkout" %}' name="checkout" class="button button--primary">Checkout</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </main>
    {% include 'includes/footer.html' %}
  </body>
{% endblock %}
