
{% extends 'base.html' %}
{% load static %}
    
    {% block content %}
    {% include 'includes/header.html' %}

      <main id="main" class="main" role="main">
        <div id="shopify-section-list-collections-template" class="shopify-section"><header class="page__header">
  <nav class="breadcrumb" role="navigation" aria-label="Breadcrumb">
  <div class="inner">
    <ul class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span class="breadcrumb__title" itemprop="name"><a href="index.html">Home</a></span>
        <meta itemprop="position" content="1">
      </li>

      
        <li data-breadcrumb-separator="/" class="breadcrumb__item breadcrumb__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          
            <span class="breadcrumb__title" itemprop="name">Collections</span>
          

          <meta itemprop="position" content="2">
        </li>
      
    </ul>
  </div>
</nav>

  <div class="page__header-wrapper">
    <div class="container">
      
        <h1 class="page__title">All collections</h1>
      
    </div>
  </div>
</header>

<div class="inner inner-all-collections">
  

  

  
    <div class="list-collections list-collections--padded list-collections--grid grid grid--middle grid--gallery">
      

      
        
          

          




        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-anniversary-cards.html" class="collection__link" style="background: url(cdn/shop/collections/anniversary-1_322a2969-8116-4acb-8db8-ac2e71dc2e57_1x19aeb.jpg?v=1539255230)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/anniversary-1_322a2969-8116-4acb-8db8-ac2e71dc2e57_400x.jpg?v=1539255230 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/anniversary-1_322a2969-8116-4acb-8db8-ac2e71dc2e57_600x.jpg?v=1539255230 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/anniversary-1_322a2969-8116-4acb-8db8-ac2e71dc2e57_800x.jpg?v=1539255230 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/anniversary-1_322a2969-8116-4acb-8db8-ac2e71dc2e57_1000x.jpg?v=1539255230 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/anniversary-1_322a2969-8116-4acb-8db8-ac2e71dc2e57_800x9aeb.jpg?v=1539255230)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-anniversary-cards.html" class="collection__link">
  <h3 class="collection__title">Anniversary </h3>
  
  <p class="col_short_desc">Handcrafted with sparkling crystals, fine ribbons, premium silk flowers, and expertly printed artwork, these luxurious anniversary cards are a testament to continued devotion.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-birthday-cards.html" class="collection__link" style="background: url(cdn/shop/collections/handmade-birthday-cards-1_1x1f326.jpg?v=1562255379)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/handmade-birthday-cards-1_400x.jpg?v=1562255379 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/handmade-birthday-cards-1_600x.jpg?v=1562255379 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/handmade-birthday-cards-1_800x.jpg?v=1562255379 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/handmade-birthday-cards-1_1000x.jpg?v=1562255379 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/handmade-birthday-cards-1_800xf326.jpg?v=1562255379)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-birthday-cards.html" class="collection__link">
  <h3 class="collection__title">Birthday </h3>
  
  <p class="col_short_desc">Spoil your family and  with our exquisitely designed birthday cards. Excellent quality, beautifully finished and well presented - these handmade birthday cards will be much loved and well received.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/christening-communion-cards.html" class="collection__link" style="background: url(cdn/shop/collections/Christening-1_1x14985.jpg?v=1536143511)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/Christening-1_400x.jpg?v=1536143511 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/Christening-1_600x.jpg?v=1536143511 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/Christening-1_800x.jpg?v=1536143511 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/Christening-1_1000x.jpg?v=1536143511 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/Christening-1_800x4985.jpg?v=1536143511)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/christening-communion-cards.html" class="collection__link">
  <h3 class="collection__title">Christening  </h3>
  
  <p class="col_short_desc">Elegant designs and best quality materials such as fine satin ribbons, sumptuously beautiful beadwork and sparkling crystals merge to create cards that is a tangible expression of your delight and joyful Christening wishes.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-christmas-cards.html" class="collection__link" style="background: url(cdn/shop/collections/christmas-1_1x1fb20.jpg?v=1664469713)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/christmas-1_400x.jpg?v=1664469713 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/christmas-1_600x.jpg?v=1664469713 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/christmas-1_800x.jpg?v=1664469713 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/christmas-1_1000x.jpg?v=1664469713 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/christmas-1_800xfb20.jpg?v=1664469713)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-christmas-cards.html" class="collection__link">
  <h3 class="collection__title">Christmas </h3>
  
  <p class="col_short_desc">Combining mostly traditional colours with contemporary look, our handmade Christmas cards are created from the finest materials using quality card stocks and offer something that will suit all tastes.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-easter-cards.html" class="collection__link" style="background: url(cdn/shop/collections/easter-cards_1x14ad6.jpg?v=1538733523)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/easter-cards_400x.jpg?v=1538733523 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/easter-cards_600x.jpg?v=1538733523 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/easter-cards_800x.jpg?v=1538733523 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/easter-cards_1000x.jpg?v=1538733523 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/easter-cards_800x4ad6.jpg?v=1538733523)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-easter-cards.html" class="collection__link">
  <h3 class="collection__title">Easter </h3>
  
  <p class="col_short_desc">It's Easter! So why not to send a beautiful personalised handmade Easter card to your friends or family and wish them a Very Happy Easter. </p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-engagement-cards.html" class="collection__link" style="background: url(cdn/shop/collections/handmade-engagement-cards_1x12a22.jpg?v=1534246538)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/handmade-engagement-cards_400x.jpg?v=1534246538 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/handmade-engagement-cards_600x.jpg?v=1534246538 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/handmade-engagement-cards_800x.jpg?v=1534246538 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/handmade-engagement-cards_1000x.jpg?v=1534246538 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/handmade-engagement-cards_800x2a22.jpg?v=1534246538)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-engagement-cards.html" class="collection__link">
  <h3 class="collection__title">Engagement </h3>
  
  <p class="col_short_desc">Really one of its kind designs, our handmade engagement cards are a perfect way for sending your love and best wishes to a special couple on their engagement, or maybe to your own fiancé or fiancée.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-fathers-day-cards.html" class="collection__link" style="background: url(cdn/shop/collections/fathers-day-1_1x12298.jpg?v=1547036469)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/fathers-day-1_400x.jpg?v=1547036469 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/fathers-day-1_600x.jpg?v=1547036469 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/fathers-day-1_800x.jpg?v=1547036469 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/fathers-day-1_1000x.jpg?v=1547036469 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/fathers-day-1_800x2298.jpg?v=1547036469)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-fathers-day-cards.html" class="collection__link">
  <h3 class="collection__title">Father's Day </h3>
  
  <p class="col_short_desc">Send your Dad a special Father's Day greeting with one of our unique personalised handmade Father's Day cards. We put together a great selection of Fathers day designs which for sure will be treasured for long time.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-graduation-cards.html" class="collection__link" style="background: url(cdn/shop/collections/graduation-2_1x11062.jpg?v=1535022586)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/graduation-2_400x.jpg?v=1535022586 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/graduation-2_600x.jpg?v=1535022586 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/graduation-2_800x.jpg?v=1535022586 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/graduation-2_1000x.jpg?v=1535022586 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/graduation-2_800x1062.jpg?v=1535022586)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-graduation-cards.html" class="collection__link">
  <h3 class="collection__title">Graduation </h3>
  
  <p class="col_short_desc">A great range of personalised handmade graduation cards which for sure will surprise and delight any graduate on their special Graduation Day.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-mothers-day-cards.html" class="collection__link" style="background: url(cdn/shop/collections/mothers-day-1_1x1b2bc.jpg?v=1552863005)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/mothers-day-1_400x.jpg?v=1552863005 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/mothers-day-1_600x.jpg?v=1552863005 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/mothers-day-1_800x.jpg?v=1552863005 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/mothers-day-1_1000x.jpg?v=1552863005 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/mothers-day-1_800xb2bc.jpg?v=1552863005)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-mothers-day-cards.html" class="collection__link">
  <h3 class="collection__title">Mother's Day </h3>
  
  <p class="col_short_desc">Special card for a special Mum! Send your warmest and loving greetings for your dearest and wonderful Mum on Mothering Sunday.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-new-baby-cards.html" class="collection__link" style="background: url(cdn/shop/collections/new-baby-1_895933a5-f73d-4136-bec1-17e4f9d51513_1x19eee.jpg?v=1537357491)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/new-baby-1_895933a5-f73d-4136-bec1-17e4f9d51513_400x.jpg?v=1537357491 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/new-baby-1_895933a5-f73d-4136-bec1-17e4f9d51513_600x.jpg?v=1537357491 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/new-baby-1_895933a5-f73d-4136-bec1-17e4f9d51513_800x.jpg?v=1537357491 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/new-baby-1_895933a5-f73d-4136-bec1-17e4f9d51513_1000x.jpg?v=1537357491 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/new-baby-1_895933a5-f73d-4136-bec1-17e4f9d51513_800x9eee.jpg?v=1537357491)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-new-baby-cards.html" class="collection__link">
  <h3 class="collection__title">New Baby </h3>
  
  <p class="col_short_desc">Congratulate lucky parents on arrival of a precious little one with personalised handmade baby cards - a superb selection of designs for baby boys, baby girls and baby twins.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-new-home-cards.html" class="collection__link" style="background: url(cdn/shop/collections/New-Home-1_1x13699.jpg?v=1626690974)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/New-Home-1_400x.jpg?v=1626690974 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/New-Home-1_600x.jpg?v=1626690974 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/New-Home-1_800x.jpg?v=1626690974 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/New-Home-1_1000x.jpg?v=1626690974 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/New-Home-1_800x3699.jpg?v=1626690974)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-new-home-cards.html" class="collection__link">
  <h3 class="collection__title">New Home </h3>
  
  <p class="col_short_desc">All our New Home cards are beautifully handmade to a high quality standard and can be personalised with your own message on front and inside making them truly personal and unique.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-retirement-cards.html" class="collection__link" style="background: url(cdn/shop/collections/retirement-1_1x13106.jpg?v=1539255672)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/retirement-1_400x.jpg?v=1539255672 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/retirement-1_600x.jpg?v=1539255672 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/retirement-1_800x.jpg?v=1539255672 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/retirement-1_1000x.jpg?v=1539255672 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/retirement-1_800x3106.jpg?v=1539255672)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-retirement-cards.html" class="collection__link">
  <h3 class="collection__title">Retirement </h3>
  
  <p class="col_short_desc">Send good luck and best wishes to your near and dear ones on their retirement in stylish way with our beautiful personalised handmade retirement cards. </p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-sympathy-cards.html" class="collection__link" style="background: url(cdn/shop/collections/sympathy-1_8378da1e-3e68-442c-a299-b6aa8434b186_1x1e59e.jpg?v=1539253331)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/sympathy-1_8378da1e-3e68-442c-a299-b6aa8434b186_400x.jpg?v=1539253331 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/sympathy-1_8378da1e-3e68-442c-a299-b6aa8434b186_600x.jpg?v=1539253331 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/sympathy-1_8378da1e-3e68-442c-a299-b6aa8434b186_800x.jpg?v=1539253331 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/sympathy-1_8378da1e-3e68-442c-a299-b6aa8434b186_1000x.jpg?v=1539253331 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/sympathy-1_8378da1e-3e68-442c-a299-b6aa8434b186_800xe59e.jpg?v=1539253331)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-sympathy-cards.html" class="collection__link">
  <h3 class="collection__title">Sympathy </h3>
  
  <p class="col_short_desc">Our beautiful selection of personalised handmade sympathy cards will be appreciated by your friends or loved ones for honouring and acknowledging their loss.</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-thank-you-cards.html" class="collection__link" style="background: url(cdn/shop/collections/thank-you-1_1x11348.jpg?v=1609939826)">
    <div class="aspect-ratio" style="padding-bottom: 139.93993993993993%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/thank-you-1_400x.jpg?v=1609939826 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/thank-you-1_600x.jpg?v=1609939826 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/thank-you-1_800x.jpg?v=1609939826 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/thank-you-1_1000x.jpg?v=1609939826 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/thank-you-1_800x1348.jpg?v=1609939826)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-thank-you-cards.html" class="collection__link">
  <h3 class="collection__title">Thank You </h3>
  
  <p class="col_short_desc">Handmade thank you cards is one of the best ways to show appreciation to loved and valued persons. Right thank you card, chosen with care, can speak much more than actual words. </p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-valentines-cards.html" class="collection__link" style="background: url(cdn/shop/collections/valentines-cards-037vl_1x1a3f2.jpg?v=1612347376)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/valentines-cards-037vl_400x.jpg?v=1612347376 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/valentines-cards-037vl_600x.jpg?v=1612347376 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/valentines-cards-037vl_800x.jpg?v=1612347376 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/valentines-cards-037vl_1000x.jpg?v=1612347376 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/valentines-cards-037vl_800xa3f2.jpg?v=1612347376)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-valentines-cards.html" class="collection__link">
  <h3 class="collection__title">Valentine's Day </h3>
  
  <p class="col_short_desc">Love is in the air, and for sure you will fall in love with our beautiful collection of handmade Valentine's Day cards!</p>
  
  </a>
</div>


        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/handmade-wedding-cards.html" class="collection__link" style="background: url(cdn/shop/collections/wedding-cards_1x160ba.jpg?v=1534848747)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/wedding-cards_400x.jpg?v=1534848747 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/wedding-cards_600x.jpg?v=1534848747 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/wedding-cards_800x.jpg?v=1534848747 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/wedding-cards_1000x.jpg?v=1534848747 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/wedding-cards_800x60ba.jpg?v=1534848747)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/handmade-wedding-cards.html" class="collection__link">
  <h3 class="collection__title">Wedding </h3>
  
  <p class="col_short_desc">Fully three-dimensional with impeccably arranged silk flowers, hearts and ribbons,  these  luxurious wedding cards for sure will amaze bride and groom on their Wedding Day.</p>
  
  </a>
</div>


        
          

          




        
          

          




        
          

          



<div class="list-collections__item collection grid__cell 1/2 1/3--lap-and-up 1/4--desk 1/5--large-widescreen" >
  <a href="collections/st-patricks-day-cards.html" class="collection__link" style="background: url(cdn/shop/collections/St-Patricks-1_1x17eae.jpg?v=1552155299)">
    <div class="aspect-ratio" style="padding-bottom: 140.0%">
      <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4" data-bgset="//www.lotusartstudio.co.uk/cdn/shop/collections/St-Patricks-1_400x.jpg?v=1552155299 400w, //www.lotusartstudio.co.uk/cdn/shop/collections/St-Patricks-1_600x.jpg?v=1552155299 600w, //www.lotusartstudio.co.uk/cdn/shop/collections/St-Patricks-1_800x.jpg?v=1552155299 800w, //www.lotusartstudio.co.uk/cdn/shop/collections/St-Patricks-1_1000x.jpg?v=1552155299 1000w"></div>

      <noscript>
        <div class="collection__image-background" style="background-image: url(cdn/shop/collections/St-Patricks-1_800x7eae.jpg?v=1552155299)"></div>
      </noscript>
    </div>
    <div class="collection__overlay"></div>
  </a>
  
  <a href="collections/st-patricks-day-cards.html" class="collection__link">
  <h3 class="collection__title">St. Patrick's Day </h3>
  
  <p class="col_short_desc">Fully three-dimensional designs with lots of green and shamrocks in various sizes, these handmade cards will for sure make any person feel like they have got a true luck of the Irish.</p>
  
  </a>
</div>


        
      
    </div>
  
</div>

</div>
      </main>

      <div id="shopify-section-newsletter" class="shopify-section shopify-section__newsletter">

</div>
      <div id="shopify-section-footer" class="shopify-section shopify-section__footer"><footer class="footer" role="contentinfo">
  <div class="inner">
    <div class="footer__wrapper">
      
        
      
        
            

            
              <section class="footer__module footer__links" >
                <ul class="footer__linklist">
                  
                    <li class="footer__linklist-item">
                      <a href="pages/faqs.html" class="footer__linklist-link">Faqs</a>
                    </li>
                  
                    <li class="footer__linklist-item">
                      <a href="pages/delivery-and-returns.html" class="footer__linklist-link">Delivery & returns</a>
                    </li>
                  
                    <li class="footer__linklist-item">
                      <a href="pages/terms-and-conditions.html" class="footer__linklist-link">Terms</a>
                    </li>
                  
                    <li class="footer__linklist-item">
                      <a href="pages/privacy-policy.html" class="footer__linklist-link">Privacy</a>
                    </li>
                  
                    <li class="footer__linklist-item">
                      <a href="pages/customer-reviews.html" class="footer__linklist-link">Reviews</a>
                    </li>
                  
                    <li class="footer__linklist-item">
                      <a href="pages/about-us.html" class="footer__linklist-link">About us</a>
                    </li>
                  
                    <li class="footer__linklist-item">
                      <a href="pages/contact-us.html" class="footer__linklist-link">Contact us</a>
                    </li>
                  
                </ul>
              </section>
            
      

          
      
        
            <section class="footer__module footer__newsletter" >
              <h3 class="footer__title">SIGN UP AND GET 10% OFF YOUR FIRST ORDER</h3>
              
              <div class="klaviyo-form-KhHKxu footer__newsletter-form"></div>
              
              <p class="footer__gdpr-notice"><em>By signing up, you agree to receive our newsletters, promotions and other commercial messages in accordance with our <a href="pages/privacy-policy.html">privacy policy</a>. You may unsubscribe at any time.</em></p>
              
              
              
            </section>
        
      
    </div>
  </div>

  <div class="footer__misc">
    <div class="inner">
      <p class="footer__copyright">
        
        © <a href="index.html">Lotus Art Studio</a> - Handmade Greeting Cards For All Reasons and All Seasons
      </p>
      
      
      
      
      
      <section class="footer__payment-methods" >
        
      


  <ul class="social-media social-media--inline">
    
  
    <li class="social-media__item">
      <a href="https://www.facebook.com/lotusartstudio/" target="_blank"><svg class="icon icon-facebook">
  <use xlink:href="#icon-facebook">
    
      <title>Facebook</title>
    
  </use>
</svg></a>
    </li>
  

  

  
    <li class="social-media__item">
      <a href="https://www.instagram.com/lotusartstudio/" target="_blank"><svg class="icon icon-instagram">
  <use xlink:href="#icon-instagram">
    
      <title>Instagram</title>
    
  </use>
</svg></a>
    </li>
  

  

  

  

  

  

  

  </ul>

      
      </section>
      
      


      
    </div>
  </div>
</footer>


  <a href="#" class="back-to-top" title="Back to the top">
    <svg class="icon icon-back-to-top-arrow">
  <use xlink:href="#icon-back-to-top-arrow">
    
  </use>
</svg>
  </a>


</div>
    </div>

    
    <div class="quick-shop modal modal--large remodal">
      <div class="quick-shop__spinner spinner-container spinner-container--large">
        <div class="spinner spinner--circle"></div>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="cdn/shop/t/64/assets/modernizr.minc92c.js?v=135355716568092304041553156437" type="text/javascript"></script>
<!--  -->
      <script src="cdn/s/javascripts/currencies.js" type="text/javascript"></script>
    

    <script src="http://cdn.polyfill.io/v2/polyfill.min.js?features=String.prototype.trim,Object.keys,Array.prototype.map,Array.prototype.forEach,Array.prototype.find" type="text/javascript"></script>
    <script src="cdn/shop/t/64/assets/libs7737.js?v=89665048670091531551553156437" type="text/javascript"></script>
    <script src="cdn/shop/t/64/assets/scriptcf7b.js?v=42813172967381194041553156443" type="text/javascript"></script>
    
    


 
    

    <!-- Hide Special Delivery info -->
    
        
     

    <!-- Hide RM24 Delivery info -->
    
    <style>
    
    </style>

    
    <!-- Hide International Delivery info -->
    
     
    <style>
      .international_delivery_available {display: none;}
    </style>
    
    
 


    
  </body>
{% endblock %}
