
{% extends 'base.html' %}
{% load static %}
{% block title %}
Maple Court Yard
{% endblock %}
{% block content %}
   <body class="kagami--v5 template-index ">
      {% include 'includes/header.html' %}
         <main id="main" class="main" role="main">
        <div style="text-align:center;width:100%" >
         <img style="width:100%" src="{% static 'assets/cover.jpg' %}" />
         </div>
            <div id="shopify-section-featured-collections" class="shopify-section shopify-section__featured-collections">
               <section class="index-module section section--padded ">
                  <div class="inner">
                     <h2 class="section__title">Shop for cards</h2>
                     <div class="list-collections list-collections--grid grid grid--middle grid--gallery">
                        <div class="list-collections__item collection grid__cell 1/2 1/2--handheld 1/4--lap-and-up">
                           <a href="{% url 'collection' collection_slug='birthday' %}"class="collection__link"
                              style="background: url(./assets/handmade_birthday_lg.avif)">
                              <div class="aspect-ratio" style="padding-bottom: 140.0%">
                                 <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4"
                                    data-bgset="{% static 'assets/handmade_birthday_lg.avif' %}">
                                 </div>
                              </div>
                              <div class="collection__overlay"></div>
                           </a>
                           <a href="{% url 'collection' collection_slug='birthday' %}" class="collection__link">
                              <h3 class="collection__title">Birthday </h3>
                              <p class="col_short_desc">Spoil your family and with our exquisitely designed birthday cards.
                                 Excellent quality, beautifully finished and well presented - these handmade birthday cards will be
                                 much loved and well received.
                              </p>
                           </a>
                        </div>
                        <div class="list-collections__item collection grid__cell 1/2 1/2--handheld 1/4--lap-and-up">
                           <a href="{% url 'collection' collection_slug='new-baby' %}" class="collection__link"
                              style="background: url({% static 'assets/thankful_for_you.avif' %})">
                              <div class="aspect-ratio" style="padding-bottom: 140.0%">
                                 <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4"
                                    data-bgset="{% static 'assets/thankful_for_you_lg.jpg' %}">
                                 </div>
                              </div>
                              <div class="collection__overlay"></div>
                           </a>
                           <a href="{% url 'collection' collection_slug='new-baby' %}" class="collection__link">
                              <h3 class="collection__title">New Baby </h3>
                              <p class="col_short_desc">Congratulate lucky parents on arrival of a precious little one with
                                 personalised handmade baby cards - a superb selection of designs for baby boys, baby girls and baby
                                 twins.
                              </p>
                           </a>
                        </div>
                        <div class="list-collections__item collection grid__cell 1/2 1/2--handheld 1/4--lap-and-up">
                           <a  href="{% url 'collection' collection_slug='wedding' %}" class="collection__link"
                              style="background: url({% static 'assets/get_wellsoon_second_lg.webp' %})">
                              <div class="aspect-ratio" style="padding-bottom: 140.0%">
                                 <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4"
                                    data-bgset="{% static 'assets/get_wellsoon_second_lg.webp' %}">
                                 </div>

                              </div>
                              <div class="collection__overlay"></div>
                           </a>
                           <a href="{% url 'collection' collection_slug='wedding' %}" class="collection__link">
                              <h3 class="collection__title">Wedding </h3>
                              <p class="col_short_desc">Fully three-dimensional with impeccably arranged silk flowers, hearts and
                                 ribbons, these luxurious wedding cards for sure will amaze bride and groom on their Wedding Day.
                              </p>
                           </a>
                        </div>
                        <div class="list-collections__item collection grid__cell 1/2 1/2--handheld 1/4--lap-and-up">
                           <a href="{% url 'collection' collection_slug='anniversary' %}" class="collection__link"
                              style="background: url({% static 'assets/scenic.avif' %})">
                              <div class="aspect-ratio" style="padding-bottom: 140.0%">
                                 <div class="collection__image-background lazyload image--fade-in" data-optimumx="1.4"
                                    data-bgset="{% static 'assets/handmade_wedding_lg.jpg' %}">
                                 </div>

                              </div>
                              <div class="collection__overlay"></div>
                           </a>
                           <a href="{% url 'collection' collection_slug='anniversary' %}"  class="collection__link">
                              <h3 class="collection__title">Anniversary </h3>
                              <p class="col_short_desc">Handcrafted with sparkling crystals, fine ribbons, premium silk flowers, and
                                 expertly printed artwork, these luxurious anniversary cards are a testament to continued devotion.
                              </p>
                           </a>
                        </div>
                     </div>
                     <p class="p_read-more">
                        <a class="article__read-more" href="{% url 'collections' %}">
                           View more
                           <svg class="icon icon-arrow-right">
                              <use xlink:href="#icon-arrow-right">
                              </use>
                           </svg>
                        </a>
                     </p>
                  </div>
               </section>
            </div>
            <div id="shopify-section-1532954638829" class="shopify-section shopify-section__featured-points">
               <section class="index-module section section--padded  index-module__featured-text">
                  <div class="inner inner-featured-notice">
                     <div class="section-wrapper rte" style="text-align: center">
                        <p></p>
                     </div>
                     <div class="grid grid--middle grid--gallery notice_boxes">
                        <div class="grid__cell notice_box 1/3--handheld-and-up">
                           <h3>Free and fast UK delivery</h3>
                           <p>Our standard delivery is Free for all UK orders.</p>
                        </div>
                        <div class="grid__cell notice_box 1/3--handheld-and-up">
                           <h3>Free personalisation</h3>
                           <p>Add your own special message both on front and inside, and make your card truly special and personal.
                           </p>
                        </div>
                        <div class="grid__cell notice_box 1/3--handheld-and-up">
                           <h3>Handmade in the UK</h3>
                           <p> All our cards are designed and handcrafted by us here in our studio in Nottinghamshire.</p>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
            <div id="shopify-section-1532893505313" class="shopify-section shopify-section__featured-reviews">
               <section class="index-module section section--padded section--secondary index-module__featured-text">
                  <div class="inner-featured-review">
                     <h2 class="section__title">Recent reviews by our customers</h2>
                     <div class="section-wrapper rte" style="text-align: center">
                        <p></p>
                     </div>
               <!-- implement review later -->
                  </div>
               </section>
            </div>
            <div id="shopify-section-featured-content" class="shopify-section shopify-section__featured-text">
               <section class="index-module section section--padded  index-module__featured-text">
                  <div class="container">
                     <h1 class="section__title">
                     Personalised handmade cards for all reasons and all seasons</h2>
                     <div class="section-wrapper rte featured_text" style="text-align: left">
                        <p>Looking for a special greeting card? Here, at Lotus Art Studio, we are offering fantastic range of
                           unique personalised handmade cards for every possible occasion. In this day and age of commercialised
                           everything, sometimes you need a little extra dash of creativity to really connect with your family
                           and friends. By sticking to making each card by hand and providing an great variety of gorgeous
                           decorative styles and options, we truly add a little bit of our soul into each card.
                        </p>
                        <p></p>
                        <p>From <a href="{% url 'collection' collection_slug='birthday' %}" title="Handmade Birthday Cards">birthdays</a>
                           and <a href="{% url 'collection' collection_slug='wedding' %}" title="Handmade Wedding Cards">weddings</a>  to
                           <a href="{% url 'collection' collection_slug='christmas' %}" title="Handmade Christmas Cards">Christmas</a>
                           or to a simple <a
                              href="{% url 'collection' collection_slug='thank-you'}" title="Handmade Thank You Cards">thank you
                           card</a>, no matter what you want to say to someone, we make sure you say it with style. And all our
                           handmade cards are fully customisable with your own special message both on front and inside, making
                           them truly personals and special designs.
                        </p>
                        <p></p>
                        <p>All our handmade cards are beautifully and carefully handmade in the UK.</p>
                     </div>
                  </div>
               </section>
            </div>

         </main>
         {% include 'includes/footer.html' %}
   </body>
  {% endblock %}
