{% extends 'base.html' %}
{% load static %}
{% block content %}
      <body class="kagami--v5 template-product ">
      {% include 'includes/header.html' %}
            <main id="main" class="main" role="main">
               <form method="post" action="https://www.lotusartstudio.co.uk/cart/add" id="product6782274044064__form" accept-charset="UTF-8" class="product__form" enctype="multipart/form-data">
                  <input type="hidden" name="form_type" value="product" /><input type="hidden" name="utf8" value="✓" />
                  <div id="shopify-section-custom-product-template-XL" class="shopify-section">
                     <nav class="breadcrumb" role="navigation" aria-label="Breadcrumb">
                        <div class="inner">
                           <ul class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
                              <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                 <span class="breadcrumb__title" itemprop="name"><a href="../../../index.html">Home</a></span>
                                 <meta itemprop="position" content="1">
                              </li>
                              <li class="breadcrumb__item" data-breadcrumb-separator="/" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                 <span class="breadcrumb__title" itemprop="name"><a href="../../handmade-birthday-cards.html" title="">Handmade Birthday Cards</a></span>
                                 <meta itemprop="position" content="2">
                              </li>
                              <li class="breadcrumb__item breadcrumb__item--active" data-breadcrumb-separator="/" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                 <span class="breadcrumb__title" itemprop="name">A4 Boxed Handmade Birthday Card ‘Heart of Daisies’</span>
                                 <meta itemprop="position" content="3">
                              </li>
                           </ul>
                        </div>
                     </nav>
                     <div class="product" id="custom-product-template-XL-product-6782274044064" data-product="6782274044064">
                        <div id="product_details" class="product__details">
{% if error %}
<p style="color:red;text-align:center;">{{error}} </p>
{% endif %}
                        {% if product %}

                        <div class="inner inner-product">
                              <div class="grid">
                                 <div class="product__showcase grid__cell 3/5--lap-and-up">
                                    <ul class="product__slideshow"
                                       data-initial-slide="0"
                                       data-rotation-effect="slide"
                                       data-zoom-enabled="false"
                                       data-zoom-magnification="1.5">
                                       <li class="product__slideshow-slide" data-type="image" data-index="0" data-image-id="29280734412960"  >
                                          <div class="aspect-ratio" style="padding-bottom: 100.0%">
                                          {% if '/static/' in product.large_image.url %}
                                             <img class="product__slideshow-image lazyload image--fade-in"
                                                data-sizes="auto"
                                                data-src={{product.large_image}}
                                                data-widths="[200,300,400,600,800,900,1000,1200]"
                                                alt={{product.name}}>
                                             {% else %}
                                             <img class="product__slideshow-image lazyload image--fade-in"
                                                data-sizes="auto"
                                                data-src={{product.large_image.url}}
                                                data-widths="[200,300,400,600,800,900,1000,1200]"
                                                alt={{product.name}}>
                                             {% endif %}

                                          </div>
                                       </li>
                                    </ul>
                                 </div>

                                 <div class="product__info grid__cell 2/5--lap-and-up">
                                    <div class="product-meta product-meta--desktop">
                                       <h1 class="product-meta__title">{{product.product_name}}</h1>
                                       <div class="product__reviews-badge">

                                       </div>
                                       <div class="product-meta__prices">
                                          <span class="product-meta__price" data-money-convertible>£{{product.price}}</span>
                                       </div>
<!--                                       <span class="variant-sku">Product code : 602BH</span>-->
                                       <div class="product-meta__labels"></div>
                                    </div>
                                    <div class="product-meta product-meta--mobile">
                                       <h1 class="product-meta__title">{{product.name}}</h1>
                                       <div class="product__reviews-badge">
                                       </div>
                                       <div class="product-meta__prices">
                                          <span class="product-meta__price" data-money-convertible>£{{product.price}}</span>
                                       </div>
<!--                                       <span class="variant-sku">Product code : 602BH</span>-->
                                       <div class="product-meta__labels"></div>
                                    </div>
                                    <div class="delivery_date">
                                       <p>Get it by <span id="toDate_48"></span> with FREE UK Delivery.<br>
                                          Faster UK delivery options
                                          are available.
                                          <span class="more_info" id="scroll-delivery">More info</span>
                                       </p>
                                    </div>
                                    <div class="product_personalise_button">
                                       <div class="product__buy">

                                       </div>

                                       <div class="product__buy">
                                             <a href="{% url 'add_cart' product.id %}" class="button button--secondary button--full button--no-disabled-opacity ">Add to cart</a>
                                         
                                       </div>
                                    </div>
                                <!--    <div class="product_summary">
                                       <h2 class="product_summary-title">Details</h2>
                                       <ul class="product_summary_list">
                                       ${productData.details.map((detail)=>(
                                        `<li class="product_summary-item">${detail}</li>`
                                    )).join('')

                                       }
                                       </ul>
                                    </div>-->
                                    <div class="product__share">
                                       <div class="share-buttons">
                                          <span class="share-buttons__label">Share</span>
                                          <ul class="share-buttons__list">
                                             <li class="share-buttons__item">
                                                <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}" target="_blank">
                                                   <svg class="icon icon-facebook">
                                                      <use xlink:href="#icon-facebook">
                                                      </use>
                                                   </svg>
                                                </a>
                                             </li>
                                             <li class="share-buttons__item">
                                                <a href="https://twitter.com/share?text={{product.name}}&amp;url={{request.build_absolute_uri}}" target="_blank">
                                                   <svg class="icon icon-twitter">
                                                      <use xlink:href="#icon-twitter">
                                                      </use>
                                                   </svg>
                                                </a>
                                             </li>
                                             <li class="share-buttons__item">
                                             {% if '/static/' in product.image.url %}
                                                <a href="https://pinterest.com/pin/create/button/?url={{request.build_absolute_uri}};media=http://localhost:8000{{product.image}}" target="_blank">
                                                {% else %}
                                                                                                <a href="https://pinterest.com/pin/create/button/?url={{request.build_absolute_uri}};media=http://localhost:8000{{product.image.url}}" target="_blank">

                                                {% endif %}
                                                   <svg class="icon icon-pinterest">
                                                      <use xlink:href="#icon-pinterest">
                                                      </use>
                                                   </svg>
                                                </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                  {% endif %}
                        </div>
                     </div>

                  </div>
                  <div id="shopify-section-product-tabs" class="shopify-section shopify-section__product-tabs">
                     <div class="product-tabs tabs">
                        <ul class="tabs__nav">
                           <li   class="tabs__nav-item tabs__nav-item--active"  data-tab-index="0">Description
                              <span class="tabs__nav-line"></span>
                           </li>
                           <li id="delivery-tab"  class="tabs__nav-item "  data-tab-index="1">Delivery & Returns</li>
                           <li  id="reviews-tab" class="tabs__nav-item "  data-tab-index="2">Reviews</li>
                        </ul>
                        <div class="tabs__content">
                           <div class="tabs__content-item tabs__content-item--active">
                              <div class="container container--shrink rte product-desc">
                                 <p id="description"></p>
                              </div>
                           </div>
                           <div class="tabs__content-item ">
                              <div class="container container--shrink rte">
                                 <p class="table-title">Delivery</p>
                                 <p>Delivery charges and times listed below are for a single card. For larger orders delivery time may vary and the price will be calculated at checkout.</p>
                                 <table width="100%">
                                    <tbody>
                                       <tr>
                                          <td class="table-title td-alternate" style="width: 27.931%;">Delivery Option</td>
                                          <td class="table-title td-alternate" style="width: 54.069%;">Details</td>
                                          <td class="table-title td-alternate" style="width: 43%;">Price</td>
                                       </tr>
                                       <tr>
                                          <td class="delivery-option" style="width: 27.931%;">UK Royal Mail 48 Tracked</td>
                                          <td style="width: 54.069%;">Delivery by <span id="toDate_48_1"></span> </td>
                                          <td class="table-title" style="width: 43%;">Free</td>
                                       </tr>
                                       <tr class="rm24_available">
                                          <td class="delivery-option td-alternate" style="width: 27.931%;">UK Royal Mail 24 Tracked</td>
                                          <td class="td-alternate" style="width: 54.069%;">Delivery by <span id="toDate1"></span></td>
                                          <td class="table-title td-alternate" style="width: 43%;">£3.50</td>
                                       </tr>
                                       <tr class="special_delivery_available">
                                          <td class="delivery-option" style="width: 27.931%;">UK Special Delivery</td>
                                          <td style="width: 54.069%;">Delivery by <span id="sdDate"></span></td>
                                          <td class="table-title" style="width: 43%;">£9.25</td>
                                       </tr>
                                       <tr class="international_delivery_available">
                                          <td class="delivery-option" style="width: 27.931%;">Europe Delivery</td>
                                          <td style="width: 54.069%;">Ships within 3 working days + delivery up to 7-10 working days</td>
                                          <td class="table-title" style="width: 43%;">£9.55</td>
                                       </tr>
                                       <tr class="international_delivery_available">
                                          <td class="delivery-option td-alternate" style="width: 27.931%;">Rest of the World</td>
                                          <td class="td-alternate" style="width: 54.069%;">Ships within 3 working days + delivery up to 14 working days</td>
                                          <td class="table-title td-alternate" style="width: 43%;">£15.15</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <p> </p>
                                 <p class="table-title">Returns</p>
                                 <p>If you changed your mind for whatever reason, you can always return your order back to us within 28 days for a replacement or refund.</p>
                              </div>
                           </div>
                     </div>
                  </div>
                  <div id="shopify-section-related-products" class="shopify-section shopify-section__related-products">
                     <aside class="section section--padded related-products" data-products-count="4">
                        <div class="inner inner-related">
                           <h3 class="section__title">You may also like</h3>
                           <div id="related" class="grid grid--gallery grid--center grid--middle">

                           </div>
                        </div>
                     </aside>
                  </div>
                  <div id="shopify-section-card-personalisation-luxury" class="shopify-section shopify-section__personalisation">
                     <script src="http://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js" type="text/javascript"></script>
                     <script>
                        var d = new Date();
                        var n = d.getHours();






                        var dispatchDate = Date.today().addDays(1);

                        if (dispatchDate.is().saturday() || dispatchDate.is().sunday()) {
                          dispatchDate = dispatchDate.next().monday();
                        }

                        if (dispatchDate.is().friday()) {
                          dispatchDate = dispatchDate.addDays(1);
                        }

                        var toDate = dispatchDate.addDays(2);

                        if (toDate.is().sunday()) {
                          toDate = toDate.next().monday();
                        }

                        var production_time_48 = 1 + 0;

                        var dispatchDate_48 = Date.today().addDays(production_time_48);

                        if (dispatchDate_48.is().saturday() || dispatchDate_48.is().sunday()) {
                          dispatchDate_48 = dispatchDate_48.next().monday();
                        }


                        if (dispatchDate_48.is().friday()) {
                          dispatchDate_48 = dispatchDate_48.addDays(1);
                        }

                        var toDate_48 = dispatchDate_48.addDays(4);

                        if (toDate_48.is().sunday()) {
                          toDate_48 = toDate_48.next().monday();
                        }





                        if (n < 12) {
                         var sdDate = Date.today().addDays(1);
                         } else {
                         var sdDate = Date.today().addDays(2);
                         }

                        if (sdDate.is().saturday()) {
                          sdDate = sdDate.next().monday();
                        }

                        if (sdDate.is().sunday ()) {
                          sdDate = sdDate.next().tuesday();
                        }

                        if (d.is().saturday() && n >= 12) {
                          var sdDate = Date.today().addDays(1);
                          sdDate = sdDate.next().tuesday();
                        }

                        if (d.is().sunday()) {
                          var sdDate = Date.today().addDays(0);
                          sdDate = sdDate.next().tuesday();
                        }

                        var satDate = Date.today().next().saturday();

                        if (d.is().friday() && n >= 12) {
                          var satDate = Date.today().addDays(1);
                          var satDate = satDate.next().saturday();
                        }


                        document.getElementById('toDate_48').innerHTML = toDate_48.toString('dS of MMMM');
                        document.getElementById('toDate_48_1').innerHTML = toDate_48.toString('dddd, dS of MMMM');
                        document.getElementById('toDate1').innerHTML = toDate.toString('dddd, dS of MMMM');

                        document.getElementById('sdDate').innerHTML = sdDate.toString('dddd, dS of MMMM');
                        document.getElementById('satDate').innerHTML = satDate.toString('dddd, dS of MMMM');


                     </script>
                     <div id="preview_mobile_left" class="preview">
                        <!-- Modal content -->
                        <div class="preview-content">
                           <span class="closel">Close &times;</span>
                           <div class="inside-text-lux">
                              <div class="inside-text" id="inside_left_mobile">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="preview_mobile_right" class="preview">
                        <!-- Modal content -->
                        <div class="preview-content">
                           <span class="closer">Close &times;</span>
                           <div class="inside-text-lux">
                              <div class="inside-text" id="inside_right_mobile">
                              </div>
                           </div>
                        </div>
                     </div>


                        </div>
                     </div>
                  </div>
                  <input type="hidden" name="product-id" value="6782274044064" />
               </form>
            </main>

         {% include 'includes/footer.html' %}
{% comment %}
         <script src="./scripts/data.js" type="text/javascript"></script>
         <script>
         document.addEventListener('DOMContentLoaded', function() {
         const datas=returnData()
         const urlParams = new URLSearchParams(window.location.search);
         const productName = urlParams.get('product_name'); // Returns 'value1'

         productData=datas.find((data)=>(data.name==productName))
         if (!!productData){
         const productDetails=document.getElementById('product_details')
         console.log(productDetails)

            document.getElementById('description').textContent=productData.description
         }
        const related=document.getElementById('related')
        for (let i=0;i<3;i++){

         const relatedProducts=`
               <div class="related-products__item grid__cell 1/2 1/4--handheld 1/4--lap-and-up">
                                 <a href="product.html?product_name=${datas[i].name}">
                                    <div class="aspect-ratio" style="padding-bottom: 100.0%">
                                       <img class="lazyload image--fade-in" data-src="${datas[i].image}" data-widths="[200,300,400,600,800,900,1000]" data-sizes="auto" alt="${datas[i].name}">
                                    </div>
                                 </a>
                              </div>
                              `
        related.insertAdjacentHTML('beforeend', relatedProducts);

}

         })
         </script>
         {% endcomment %}
      </body>
{% endblock %}
