{% extends 'base.html' %}

{% load static %}
{% block title %}Collection for now{% endblock %}
{% block content %}
      <body class="kagami--v5 template-collection ">
      {% include 'includes/header.html' %}
            <main id="main" class="main" role="main">
               <div id="shopify-section-collection-template" class="shopify-section shopify-section__collection">
                  <header class="page__header ">
                     <div class="page__header-wrapper">
                        <div class="container">
                           <h1 class="page__title">Handmade Birthday Cards</h1>
                        </div>
                     </div>
                  </header>
                  <div class="inner inner-collection">
                     <div class="collection__filters">
                        <div class="styled-select collection-filter collection-filter--tag">
                           <svg class="icon icon-dropdown-arrow">
                              <use xlink:href="#icon-dropdown-arrow">
                              </use>
                           </svg>
                           <select>
                              <option value="/collections/handmade-birthday-cards" selected="selected">All Birthday Cards
                              </option>
                              <option value="/collections/handmade-birthday-cards/a4-luxury-boxed-card"
                                 title="Show products matching tag A4 Luxury Boxed Card">A4 Luxury Boxed Cards</option>
                              <option value="/collections/handmade-birthday-cards/a5-luxury-boxed-card"
                                 title="Show products matching tag A5 Luxury Boxed Card">A5 Luxury Boxed Cards</option>
                              <option value="/collections/handmade-birthday-cards/with-photo-upload"
                                 title="Show products matching tag With photo upload">With photo upload</option>
                           </select>
                        </div>
                        <div class="styled-select collection-filter collection-filter--sorter ">
                           <svg class="icon icon-dropdown-arrow">
                              <use xlink:href="#icon-dropdown-arrow">
                              </use>
                           </svg>
                           <select id="sort-by">
                              <option value="manual">Recommended</option>
                              <option value="best-selling">Most popular</option>
                              <option value="price-ascending">Lowest price</option>
                              <option value="price-descending">Highest price</option>
                              <option value="created-descending">Most recent</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <section class="inner inner-collection">
                     <div id="collection" class="collection collection--grid grid grid--gallery grid--middle">

                     {% for product in products %}
      <div class="collection__item product-item grid__cell 1/2 1/2--handheld 1/4--lap-and-up">
      <div class="product-item__inner">
        <div class="product-item__labels">
        </div>
        <a href="{% url 'get_product' product_name=product.slug %}" class="product-item__image">
          <div class="product-item__image-wrapper">
            <div class="aspect-ratio" style="padding-bottom: 100.0%">
            {% if '/static/' in product.image.url %}
               <img class="lazyload image--fade-in" data-sizes="auto" data-src="{{product.image}}" data-widths="[200,300,400,600,800,900,1000,1200]" alt="{{product.product_name}}">
            {% else %}
            <img class="lazyload image--fade-in" data-sizes="auto" data-src="{{product.image.url}}" data-widths="[200,300,400,600,800,900,1000,1200]" alt="{{product.product_name}}">
            {% endif %}

            </div>
          </div>
        </a>
        <div class="product-item__info">
          <h2 class="product-item__title">
            <a href="{% url 'get_product' product_name=product.slug %}">{{product.product_name}}</a>
          </h2>
          <p class="product-item__price" data-money-convertible>£{{product.price}}</p>
        </div>
      </div>
    </div>
    {% endfor %}


                     </div>
                  </section>

               </div>
            </main>
      {% include 'includes/footer.html' %}


      </body>
{% endblock %}
