{% extends 'owner/base.html' %} {% load static %} {% block content %}
<!-- main content -->
<main class="main">
  <div class="container-fluid">
    <div class="row">
      <!-- main title -->
      <div class="col-12">
        <div class="main__title">
          <h2>Edit Movie details!</h2>
        </div>
      </div>
      <!-- end main title -->

      <!-- form -->
      <div class="col-12">
        <form
          action="{% url 'edit_movie' movie.id %}"
          method="POST"
          enctype="multipart/form-data"
          class="form"
        >
          {% csrf_token %}
          <div class="row">
            <div class="col-12 col-md-5 form__cover">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-12">
                  <div class="form__img">
                    <label for="form__img-upload"
                      >Upload cover (190 x 270)</label
                    >
                    {% comment %}
                    <input
                      type="file"
                      id="form__img-upload"
                      required
                      name="form__img-upload"
                      type="file"
                      accept=".png, .jpg, .jpeg"
                      value="{{movie.coverphoto.url}}"
                    />
                    {% endcomment %} {{form.coverphoto}}
                    <img
                      id="form__img"
                      src="{{movie.coverphoto.url}}"
                      alt=" "
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-7 form__content">
              <div class="row">
                <div class="col-12">
                  <div class="form__group">
                    {{form.movie_name}} {% comment %}
                    <input
                      type="text"
                      required
                      class="form__input"
                      name="title"
                      placeholder="Title"
                      value="{{movie.movie_name}}"
                    />
                    {% endcomment %}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form__group">
                    {{form.videoname}} {% comment %}
                    <input
                      type="text"
                      required
                      class="form__input"
                      name="title"
                      placeholder="Title"
                      value="{{movie.movie_name}}"
                    />
                    {% endcomment %}
                  </div>
                </div>

                <div class="col-12">
                  <div class="form__group">
                    {{form.short_description}}
                    
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="form__group">
                    {{form.year}} 
                   
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="form__group">
                    {{form.duration}}
                    
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form__group">
                    <select
                      class="js-example-basic-single"
                      id="quality"
                      name="quality"
                    >
                    <option value="4K">4K</option>
                    <option value="FullHD">FullHD</option>
                    <option value="HD">HD</option>
                    <option value="SD">SD</option>
                    </select>
                  </div>
                </div>



                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="form__group">
                    {% comment %}
                    <input
                      type="text"
                      required
                      class="form__input"
                      placeholder="price"
                      name="price"
                      value="{{movie.price}}"
                    />
                    {% endcomment %} {{form.price}}
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form__group">
                    <select
                      class="js-example-basic-multiple"
                      name="genre"
                      id="genre"
                      multiple="multiple"
                    >
                    {% for genre in genres %}
                    <option value="{{genre.id}}">{{genre.category_name}}</option>
                    {% endfor %}
                    </select>
                  </div>
                </div>

                {% comment %} types code here  {% endcomment %}
                <div class="col-12 ">
                  <div class="form__group">
                    <select class="js-example-basic-multiple" name='genre_en' id="type" >
                      {% for genre in types %}
                      <option value="{{genre.type}}">{{genre.type}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div> 


                <div class="col-12">
                  <div class="form__gallery">
                    <label id="gallery1" for="form__gallery-upload">Upload photos of movie</label>
                    <input data-name="#gallery1"  id="form__gallery-upload" name='image' class="form__gallery-upload" type="file" accept=".png, .jpg, .jpeg" multiple>
                  </div>
                </div>
               
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form__video">
                    <label id="movie1" for="form__video-upload"
                      >Upload Trailer</label
                    >
                    {{form.trailer}}

                  </div>
                </div>
           
              
                
            <div class="col-12">
                <div class="col-12">
                  <button type="submit" class="form__btn">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end form -->
    </div>
  </div>
</main>
<!-- end main content -->

{% endblock %}
